extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  img(src='/download?id=1')
  br
  form(action='/upload', method='POST', enctype='multipart/form-data')
    label(for='name') Team Name
    br
    input(type='text', name='name', id='name')
    br
    label(for='description') Team Description
    br
    input(type='text', name='description', id='description')
    br
    label(for='image') Team Image
    br
    input(type='file', name='image')
    br
    button Create
  br
  img(src='/download?id=2')
