extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  img(src='/teams/1/image')
  br
  form(action='/admin/teams', method='POST', enctype='multipart/form-data')
    input(type='hidden', name='password', value='supersecretadmin')
    label(for='name') Team Name
    br
    input(type='text', name='name', id='name')
    br
    label(for='description') Team Description
    br
    input(type='text', name='description', id='description')
    br
    label(for='image') Team Image
    br
    input(type='file', name='image')
    br
    button Create
  br
  img(src='/teams/2/image')
